.vote-option.vote-yes
    background-color: #0695d6
    &:hover
        background-color: #1887bf
.vote-option.vote-no
    background-color: #7B548A
    &:hover
        background-color: #684675   
.votes-cast
    display:none

.proposal-options
    .results-box
        .alert-info
            display: none
        .vote-yes.votes-results
            color: #0695d6
            h5
                color: inherit

        .vote-no.votes-results
            color:  #7b548a
            h5
                color: inherit