.votes-cast
    display:none

.alert 
    &.alert-info
        display:none
 .results-box
    .vote-yes, .vote-yes h5
      color #29B3F5
    .vote-abstain, .vote-abstain h5
      color #666666
    .vote-no, .vote-no h5
      color #63486D            
.proposal-options.yea
    color #29B3F5          