.topics-hierarchy
  h4
    display: none
  .btn-link.btn-answer
    background-color: #FFF !important
    text-align: center
    padding-left: 25px
  ol
    color: rgba(0, 0, 0, 0.8)
    li.voted-li
      border-style: none
      line-height: 30px
      height: 30px

  .answer-ol
    .answer-li
      line-height: 30px
      height: 30px
      color: #0695d6
      font-weight: bold
      text-align: left

  span
    div
      display: flex
      align-items: center
      flex-direction: column

  .result-voted-li
    line-height: 30px
    height: 30px
    border-bottom: none
    text-align: left
