li.sidebar-link
  a
    border-radius: 3px
    font-size: 18px
    padding: 13px 20px
    &.active
      color: #111
      background: #e5e5e5!important
    &:hover
      text-decoration: none
      background-color: #eee
    .item-tag
      width: 30px
      height: 30px
      background-size: cover
      border-radius: 50%
    .item-text
      .title
        font-weight: 500
        font-size: 18px
