@import '../../../../lib/admin/boot/boot'

@import '../../*/styles'
@import '../*/styles'

#topic-wrapper
  & > h2 .btn-link
    text-decoration: none !important
    font-size: .6em
    padding: .3em .6em
    margin: 0 0 0 1em
