  .topics-poll
    .poll-options
      display: flex
      flex-wrap: wrap
      flex-direction: column
      .btn-primary
        margin-top: 20px
        background-color: #3995D6
        align-self: center
        width: 102px
      .btn-primary.mx-auto
        width: auto
      .poll-btn
        color: #707070
        text-transform: none
        font-size: 18px
        padding-left: 0
        flex-wrap: wrap
        .poll-option-label
          margin-left: 10px
          font-weight: 300
          position: absolute
          top: 7
          left: 25
        .icon-check
          background-color: #3995D6
        .icon-check::before
          content: ''
