.lateral-bar-container
  @media (max-width: 991px)
    display:none
  width:24%
  margin-top:75px
.lateral-bar-list    
  position: sticky
  top: 10
  z-index: 1    
  list-style-type: none
  padding-left:5px
  text-align:left
  li
    font-size: 15px
    font-weight: normal    
    color: #0695d6
    a
      text-decoration:none
      display: block
      padding: 10px 5px
    a:hover
      background-color: #D6EAF3
      color: #0695d6
