.topic-article-wrapper
  max-width: 100%
  width: 100%
  padding-left: 20px
  .topic-article-content
    font-family: "Roboto"!important
    font-weight: 300
    max-width: 100%
    width: 100%
    padding-left: 0
    padding-right: 0
    color: #111
    h1
      font-weight: 700
      margin: .5em 0
      font-size: 28px
  .topic-comments
    background: none
    border: none

@media screen and (max-width 940px)
  .topic-article-wrapper
    padding-left: 0px
    .topic-overlay
      display block!important

@media (min-width: 992px)
  .topic-article-wrapper
    .topic-article-content
      h1
        font-size: 2.5em
