#topic-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  #topic-wrapper {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  #topic-wrapper {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  #topic-wrapper {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  #topic-wrapper {
    width: 1140px;
    max-width: 100%;
  }
}

@import './sidebar/styles.styl'
@import './topic-article/styles.styl'
