.ext-topic-layout
  @import './topic-article/styles.styl'

  .topic-comments-form
    .actions
      .btn
        margin-bottom: 0

  .comments-sort
    .comments-sort-btn
      background-color: transparent !important

    .caret
      top: .6em
