.ext-site-home-multiforum
  background: transparent

  .forums-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    padding-top: 4em

    .forums-list-item
      max-width: 100%
      width: 100%
      margin: 0 10px 20px

      @media (min-width: 992px)
        width: 440px

  .ext-site-home-multiforum-cover
    text-align: center

    h1
      max-width: 500px
      margin: 0 auto .3em

    .jumbotron_body
      background-color: rgba(#000, .5)
