#home-multiforum
  background: transparent
  #forum-list
    width: 100%
  .forum-info
    .content
      text-align: center
      a
        margin-top 20px
    .cover
      background-image unquote("linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('https://consultapublica.argentina.gob.ar/homepage/cover.jpg')!important")
      .content
        @import './forum-card/styles'
  .admin
    width: 100%
  @import "forum-card/styles"
