.topic-card
  cursor: pointer

.flickity-prev-next-button
  path.arrow 
    fill: #0695d6
button.flickity-prev-next-button
  background: hsla(0, 0%, 100%, 0.9)
  width: 55px
  height: 55px


@import './topic-card/styles'

