#forum-home
  overflow visible
  padding-bottom: 0

  .topics-container
    .topic-card
      border-radius 4px
      box-shadow 0 2px 2px rgba(0,0,0,.2)!important
      .participants
        span
          color #0072bc
          font-weight bold
      &:hover
        background #0273ba
        color #fff
        .participants
          color #fff
          span
            color #fff
