.ext-forum-home
  .cover
    text-align: center

    h1
      max-width: 500px
      margin: 0 auto .3em

  .topics-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    padding-top: 4em

  .topic-card
    max-width: 100%
    width: 300px
    margin: 0 10px 20px
