.btn-miargentina
  color: #fff
  background: #33b560
  border-radius:5px
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif

  i
    font-size: 1.3em
    line-height: 0
    position: relative
    top: .1em
    margin-right: .5em

  &:hover
    opacity .9
    color #f7f7f7

  &:active
    opacity: 1
    color: #f7f7f7


.user-icon
  background-size: cover
  background-repeat: no-repeat
  display: inline-block
  margin-top: 0
  margin-right: 10px
  width: 15px
  height: 15px
  fill:currentColor
  color: #fff

.user-icon
  background-image: url('ext/lib/site/sign-in/user-icon.svg')