.btn-miargentina
  color: #fff
  background: #33b560
  border-radius:5px
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif

  i
    font-size: 1.3em
    line-height: 0
    position: relative
    top: .1em
    margin-right: .3em

  &:hover
    opacity .9
    color #f7f7f7

  &:active
    opacity: 1
    color: #f7f7f7
