.btn-facebook
  color: #fff
  background: #1B96D3
  text-transform: lowercase

  i
    font-size: 1.3em
    line-height: 0
    position: relative
    top: .1em
    margin-right: .3em

  &:hover
    opacity .9
    color #f7f7f7

  &:active
    opacity: 1
    color: #f7f7f7
